body{
    scroll-padding-top: 70px;
}

img {
    width: 300px;
    height: 300px;
}

#mainDiv{
    margin-left: 25vw;
    margin-right: 25vw;
}
#form1{
    position: relative;
    top: 100px;
    text-align: center;
}

#randomized{
    position: relative;
    top: -27%;
    left: 40%;
}

#btn2{
    margin: auto;
}

.catsImgDiv{
    position: relative;
    top: 20%;
}


#table1{
    position: absolute;
    top: 60%;
    width: 100%;
}
tbody tr{
    height: 80px;
    border-bottom: darkgray 1px solid;
}

thead tr{
    height: 80px;
    border-bottom: darkgray 3px solid;
}

.catBanner{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    background:darkslateblue;
    font-size: 40px;
    color: white;
}

  .movingLetters {
    position: relative;
    font-weight: 900;
    font-size: 5vh;
  }
  
  .movingLetters .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .movingLetters .letter {
    display: inline-block;
    line-height: 1em;
  }

.col1{
    width: 3%;
}
.col2{
    width: 10%;
}

.col3{
    width: 10%;
}

.col4{
    width: 3%;
}

.col5{
    width: 20%;
}

.col6{
    width: 30%;
}

@media only screen and (max-width: 1300px){
    #form1 h1{
        transform: scale(0.8);
        
    }
    #text1{
        transform: scale(0.8);
    }
    #randomized{
    position: absolute;
    top: 25%;
    left: 50%;
    }

    #table1{
        position: absolute;
        top: 80%;
    }

}